{{#get "pages" slug="popular-tags" limit="1" include="tags"}}
    {{#foreach pages}}
        <section class="gh-container gh-outer has-sidebar popular-tags">
            <div class="gh-container-inner gh-inner">
                    <h2 class="gh-container-title">
                        Explore
                    </h2>
                    <main class="gh-main">
                        <section class="tag-row">
                            <div class="inner">
                                <ul class="tag-list">
                                {{#foreach tags}}
                                {{#get 'tags' limit='1' slug=slug include='count.posts' order='count.posts desc'}}
                                    {{#foreach tags}}
                                    <li class="tag-card gh-card">
                                            <a href="{{url}}" class="tag-image-link">
                                                {{#if feature_image}}
                                                    <img src="{{feature_image}}" alt="{{name}}" class="tag-img"/>
                                                {{/if}}
                                            </a>
                                            <h3 class="tag-name">
                                                <a href="{{url}}">{{name}}</a>
                                            </h3>
                                    </li>
                                    {{/foreach}}
                                {{/get}}
                                {{/foreach}}
                                </ul>
                            </div>
                        </section>
                    </main>
            </div>
        </section>
    {{/foreach}}
{{/get}}